<span class="assist-title">Marking Assistant</span>
<span class="assist-hint" onclick="toggleMarkingAssistant()">
    Highlight keywords
</span>
<span class="assist-hide-option" onclick="toggleMarkingAssistant()" hidden>
    Hide Marking Assistant
</span>
<div class="assist-field" hidden>
    <input class="input-block-level" id="marking_assistant" type="text" placeholder="Type each word, followed by the enter key.">
    <div id="marking-keywords"></div>
</div>

<% if @assessment.specific.respond_to? :single_question? and @assessment.specific.single_question? %>
    <%= render :partial => 'single_question_form', locals: {mode: "edit"} %>
<% else %>
    <%= render :partial => 'multiple_question_form', locals: {mode: "edit"} %>
<% end %>

<script>
    function suggestEXP(max, exp, sum) {

        var sum_grade = 0;
        if (typeof(sum) == 'undefined') {
            grade_input = $(".grade-input");

            grade_input.each(function(){
                sum_grade += $(this).val() - 0;
            });

        } else {
            sum_grade = $('#grade-sum').val() - 0;
        }

        multiplier = $("#exp-multiplier").val() - 0;
        multiplier = multiplier > 1 ? 1 : multiplier;

        total_grade = $("#grade-sum");


        var result = Math.round(Math.round(multiplier * (exp * sum_grade / max) / 5) * 5);
        $("#exp-sum").val(result);
        total_grade.val(Math.round(sum_grade * 100) / 100);
    }

    $(document).ready(function() {
        if ($("#exp-sum").val() == "")
            suggestEXP( <%= @assessment.max_grade %>, <%= @assessment.exp %> );
        var markingKeywords = []
        if ( 'markAssist' in $.cache ) {
            for ( var i = 0; i < $.cache[ 'markAssist' ].length; i++ ) {
                addTag( $.cache[ 'markAssist'][i] );
            };
            toggleMarkingAssistant();
        };
    });

    $( "#marking_assistant" ).keypress( function ( e ) {
        if ( e.keyCode == 13 ) {
            addTag( document.getElementById( "marking_assistant" ).value );
            document.getElementById( "marking_assistant" ).value = "";
        };  
    });

    function toggleMarkingAssistant() {
        $( ".assist-hint" ).toggle();
        $( ".assist-field" ).toggle();
        $( ".assist-hide-option" ).toggle();
    };

    function setTag( keyWord ) {

        var keyWordTag = document.createElement('span');
        keyWordTag.className = 'assist-tags';
        keyWordTag.id = keyWord;

        var keyWordCancel = document.createElement('i');
        keyWordCancel.className = 'icon-remove-sign icon-white';
        keyWordCancel.id = keyWord;
        keyWordCancel.setAttribute( "onClick", "removeTag(this.id)" );

        var selectedWord = document.createElement('span');
        selectedWord.className = 'selected-word';
        selectedWord.textContent = keyWord;

        keyWordTag.appendChild(selectedWord);
        keyWordTag.appendChild(keyWordCancel);

        return keyWordTag;
    };

    function cleanWord( keyWord ) {
        keyWord = keyWord.match( /[-a-zA-Z']+/i );
        if ( keyWord == null || keyWord.length == 0 ) {
            return "";
        } else {
            return keyWord[0];
        };
    };

    function cleanWord( keyWord ) {
        keyWord = keyWord.match( /[-a-zA-Z']+/i );
        if ( keyWord == null || keyWord.length == 0 ) {
            return "";
        } else {
            return keyWord[0];
        };
    };

    function addTag( keyWord ) {

        keyWord = cleanWord(keyWord);

        if ( keyWord == "" ) { return; }

        if ( 'markAssist' in $.cache ) {
            if ( $.inArray( keyWord, $.cache[ 'markAssist' ]) != -1 ) {
                return;
            } else {
                $.cache[ 'markAssist' ].push( keyWord );
            };
        } else {
            $.cache[ 'markAssist' ] = [ keyWord ];
        };
        
        $( "#marking-keywords" ).append( setTag( keyWord ) );
        $( ".submission-question-block" ).highlight( keyWord, { className: keyWord, element: "strong", wordsOnly: true } );
        // Implement colors
    };

    function removeTag( keyWord ) {
        $( "#" + keyWord ).remove();
        $( ".submission-question-block" ).unhighlight( { className: keyWord, element: "strong" } );
        $.cache[ 'markAssist' ].splice( $.cache[ 'markAssist' ].indexOf( keyWord ), 1 );
    };

</script>
