
<span class="assist-title">Marking Assistant</span>
<span class="assist-hint" onclick="toggleMarkingAssistant()">
    Highlight keywords in your student's submission
</span>
<span class="assist-hide-option" onclick="toggleMarkingAssistant()" hidden>
    Hide Marking Assistant
</span>
<div class="assist-field" hidden>
    <h6 class="assist-instructions" onclick="toggleMarkingAssistant()">Show once expanded</h6>
    <input class="input-block-level" id="marking_assistant" type="text" placeholder="Type in your keywords, enter to confirm."  >
    <div id="marking-keywords"></div>
</div>

<% if @assessment.specific.respond_to? :single_question? and @assessment.specific.single_question? %>
    <%= render :partial => 'single_question_form', locals: {mode: "edit"} %>
<% else %>
    <%= render :partial => 'multiple_question_form', locals: {mode: "edit"} %>
<% end %>

<script>
    function suggestEXP(max, exp, sum) {

        var sum_grade = 0;
        if (typeof(sum) == 'undefined') {
            grade_input = $(".grade-input");

            grade_input.each(function(){
                sum_grade += $(this).val() - 0;
            });

        } else {
            sum_grade = $('#grade-sum').val() - 0;
        }

        multiplier = $("#exp-multiplier").val() - 0;
        multiplier = multiplier > 1 ? 1 : multiplier;

        total_grade = $("#grade-sum");


        var result = Math.round(Math.round(multiplier * (exp * sum_grade / max) / 5) * 5);
        $("#exp-sum").val(result);
        total_grade.val(Math.round(sum_grade * 100) / 100);
    }

    $(document).ready(function() {
        if ($("#exp-sum").val() == "")
            suggestEXP( <%= @assessment.max_grade %>, <%= @assessment.exp %> );
        var markingKeywords = []
        //load cache for marking assistant
    });

    $( "#marking_assistant" ).keypress( function ( e ) {
        if ( e.keyCode == 13 ) {
            addTag( document.getElementById( "marking_assistant" ).value );
            document.getElementById( "marking_assistant" ).value = "";
        };  
    });

    function toggleMarkingAssistant() {
        $( ".assist-hint" ).toggle();
        $( ".assist-field" ).toggle();
        $( ".assist-hide-option" ).toggle();
    };

    function setTag( keyWord ) {
        return  "<span class='assist-tags' id='" + keyWord + "'>" 
                + "<span class='selected-word'>" + keyWord 
                + "</span>" + "<i class='icon-remove-sign icon-white' " 
                + "onClick='removeTag(this.id)' id='" + keyWord 
                + "'></i></span>"
    };

    function addTag( keyWord ) {
        $( "#marking_keywords" ).append( setTag( keyWord ) );
        $( ".submission-question-block" ).highlight( " " + keyWord, { className: keyWord, element: "strong" } );
        // TODO - make the functionality of highlighting whole words more robust
        // Update the cache
    };

    function removeTag( keyWord ) {
        $( "#" + keyWord ).remove();
        $( ".submission-question-block" ).unhighlight( { className: keyWord, element: "strong" } );
        // Update the cache
    };

</script>
