<hr>
<span class="assist-title">Marking Assistant</span>

<a class="assist-hint" data-toggle="collapse" data-target=".assist-field">
    Show/Hide Assistant
</a>

<div class="assist-field collapse row-fluid">
    <div id="marking-helpers">
        <button class="btn btn-info btn-small btn-clear" onClick="addSuggestedWords()">Suggested Keywords</button>
        <button class="btn btn-info btn-small btn-clear" onClick="clearAll()">Clear All</button>
    </div>
    <input class="input-block-level" id="marking-assistant" type="text" placeholder="Type each word, followed by the enter key.">
    <div id="marking-keywords"></div>
</div>

<% if @assessment.specific.respond_to? :single_question? and @assessment.specific.single_question? %>
    <%= render :partial => 'single_question_form', locals: {mode: "edit"} %>
<% else %>
    <%= render :partial => 'multiple_question_form', locals: {mode: "edit"} %>
<% end %>

<script>
    function suggestEXP(max, exp, sum) {

        var sum_grade = 0;
        if (typeof(sum) == 'undefined') {
            grade_input = $(".grade-input");

            grade_input.each(function(){
                sum_grade += $(this).val() - 0;
            });

        } else {
            sum_grade = $('#grade-sum').val() - 0;
        }

        multiplier = $("#exp-multiplier").val() - 0;
        multiplier = multiplier > 1 ? 1 : multiplier;

        total_grade = $("#grade-sum");


        var result = Math.round(Math.round(multiplier * (exp * sum_grade / max) / 5) * 5);
        $("#exp-sum").val(result);
        total_grade.val(Math.round(sum_grade * 100) / 100);
    }

    $(document).ready(function() {
        if ($("#exp-sum").val() == "")
            suggestEXP( <%= @assessment.max_grade %>, <%= @assessment.exp %> );

        // Rethink caching across different assessments
        if ( 'markAssist' in $.cache ) {
            for ( var i = 0; i < $.cache[ 'markAssist' ].length; i++ ) {
                addTag( $.cache[ 'markAssist'][i] );
            }
            $(".assist-field").collapse('show');
        } else {
            $.cache['markAssist'] = [];
        }
    });

    $( "#marking-assistant" ).keypress( function ( e ) {
        if ( e.keyCode == 13 ) {
            addTag( document.getElementById( "marking-assistant" ).value );
            document.getElementById( "marking-assistant" ).value = "";
        }
    });

    
    function rgb2hex(rgb) { //Function to convert hex format to a rgb color
        rgb = rgb.match(/^rgb\((\d+),\s*(\d+),\s*(\d+)\)$/);
        return "#" + hex(rgb[1]) + hex(rgb[2]) + hex(rgb[3]);
    }

    function hex(x) {
        var hexDigits = new Array ("0","1","2","3","4","5","6","7","8","9","A","B","C","D","E","F")
        return isNaN(x) ? "00" : hexDigits[(x - x % 16) / 16] + hexDigits[x % 16];
     }

    function addKeyWordHighlights( keyWord ) {
        tagColor = getColor();

        var keyWordTag = document.createElement('span');
        keyWordTag.className = 'assist-tags';
        keyWordTag.id = escapeIdName( keyWord );
        keyWordTag.style.backgroundColor = tagColor;

        var keyWordCancel = document.createElement('i');
        keyWordCancel.className = 'icon-remove-sign icon-white';
        keyWordCancel.id = escapeIdName( keyWord );
        keyWordCancel.setAttribute( "onClick", "removeTag(this.id)" );

        var selectedWord = document.createElement('span');
        selectedWord.className = 'selected-word';
        selectedWord.textContent = keyWord;

        keyWordTag.appendChild(selectedWord);
        keyWordTag.appendChild(keyWordCancel);

        $( "#marking-keywords" ).append( keyWordTag );
        $( ".submission-answer" ).highlight( keyWord, { className: escapeIdName( keyWord ), element: "strong", wordsOnly: true } );
        $( "." + escapeIdName( keyWord ) ).css( "backgroundColor", tagColor );
    }

    function getColor(){
        // Change colors here if necessary
        var colorList = [ "#00A0B0", "#6A4A3C", "#8A9B0F", "#CC333F", "#EB6841", "#F15774"]
        var lastNode = document.getElementById( "marking-keywords" ).lastChild
        if ( lastNode == null ) { return colorList[0]; }
        var lastColor = rgb2hex( lastNode.style.backgroundColor )
        return colorList[ ( colorList.indexOf( lastColor ) + 1 ) % colorList.length ]  
    }

    function cleanWord( keyWord ) { 
        // Pick out first word using regex
        keyWord = keyWord.match( /[-a-zA-Z1-9'"]+/i );
        if ( keyWord == null || keyWord.length == 0 ) {
            return "";
        } else {
            return keyWord[0];
        }
    }

    function escapeIdName( keyWord ) { // Add 1 in front to prevent classname clashes
        return '1' + keyWord.replace( /'/g, "&#39" ).replace( /"/g, "&quot" );
    }

    function unEscapeIdName( keyWord ) {
        return keyWord.slice( 1, keyWord.length ).replace( /&#39/g, "'" ).replace( /&quot/g, '"' );
    }

    function addTag( keyWord ) {
        keyWord = cleanWord( keyWord );

        if ( keyWord == "" ||  $.inArray( keyWord, $.cache[ 'markAssist' ]) != -1 ) { 
            return; // Empty keyword or repeated keyword
        } else {
            $.cache[ 'markAssist' ].push( keyWord );
        }
        
        addKeyWordHighlights( keyWord );
    }

    function removeTag( keyWord ) { // keyWord parsed in is modified; must unescape
        $( "#" + keyWord ).remove();
        keyWord = unEscapeIdName( keyWord );
        $( ".submission-answer" ).unhighlight( { className: escapeIdName( keyWord ), element: "strong" } );
        $.cache[ 'markAssist' ].splice( $.cache[ 'markAssist' ].indexOf( keyWord ), 1 );
    }

    function addSuggestedWords() {
        // Add suggested words
        // Retrieve from db
        // Add words
        var a = [ 'a', 'b' ,'c' ];
        for ( var i= 0; i < a.length; i++ ) {
            addTag( a[i] );
        }
    }

    function clearAll() {
        while ( $.cache[ "markAssist" ].length > 0 ) {
            removeTag( escapeIdName( $.cache[ "markAssist" ][0] ) );
        }
    }

</script>
